.content{
  display: flex;
  .main-section{
    flex-basis: 75%;
    align-items: stretch;
    min-width: 600px;
  }
  .main-content{
    display: grid;
    grid-template-rows: 31px calc(100vh - 112px) 19px;
    &.chat-view {
      grid-template-rows: 31px calc(100vh - 78px);
    }
    .header-content{
      width: 100%;
    }
    .grid-content{
      overflow: auto;
      .chat-section {
        height: 100%;
      }
      .map-section {
        height: 100%;
      }
    }
  }
  .details-section{
    flex-basis: 25%;
    min-width: 25%;
    flex-grow: 1;
  }
}
