@import './variables';

.dgt-pagination-component{
  align-items: center;
  padding: $small-space $normal-space ;
  width: 100%;
  .paginate-button{
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0 $small-space;
    margin: 0 0;
  }
  .grid-item:nth-child(2){
    text-align: center;
  }
  .grid-item:last-child{
    text-align: right;
  }
}
.custom-pagination {
  --dgt-grid-template-columns: 132px 1fr 300px;
}
