<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horário confira os detalhes abaixo:</p>
<p>
  <p>
    <strong>Cliente:</strong> {{user}}
  </p>
  <p>
    <strong>Date/hora:</strong> {{date}}
  </p>
  <br />
  <h3>horário disponivel para novos agendamentos</h3>


</p>